<li>
	{{name}}

	<button class="change-dev" data-id="{{id}}" data-newdev="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}Devoured!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>