<div class="header">
    <h1>Burgs!</h1>
</div>
<div class="container" name="search">
    <form class="create-form">
        <h2>Enter your Burger Here</h2>
        <div class="container" name="head">
            <div class="form-group">
                <label for="bur">Burger Name:</label>
                <input type="text" id="bur" name="name">
            </div>
        </div>
       

        <button type="submit">Add Burger</button>
    </form>
</div>


<div class="row">
    <div class="column">
        <h2>Burgers Ready to Eat</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                <p>Name: {{ burger_name }}</p>
                <button class="change-dev" data-id="{{id}}" data-newdev="{{true}}">
                    {{#if devoured}}Eat Me!{{else}}Devour!{{/if}}
                </button>
                <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>

    </div>
    <div class="column">
        <h2>Devoured Burgers!</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                <p>Name: {{ burger_name }}</p>
                <button class="change-dev" data-id="{{id}}" data-newdev="{{devoured}}">
                    {{#if devoured}}Eat Me!{{else}}Devour!{{/if}}
                </button>
                <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
            </li>

            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>